<html>
<head><title>{{ title }}</title></head>
<body>
<h1>{{ title }}</h1>
{% if turtles|length > 0 %}
<ul>
    {% for turtle in turtles %}
        <li><strong>{{ turtle.name }}</strong> uses <em>{{ turtle.weapon }}</em></li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>