{% block top %}
<html>
<head><title>{{ title }}</title></head>
<meta charset="UTF-8"/>

<body>
<h1>{{ title }}</h1>
{% endblock %}
{% block body %}{% endblock %}
{% block foot %}
</body>
</html>
{% endblock %}